body{
    background-color: #eee;
}
body>h2 {
    font-size: calc(1.375rem + 1.5vw);
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
body form input {
    background-color:  green;
    color: #fff;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    width: 160px;
    padding: 10px 10px 10px 10px;
}
body form input:hover {
    background-color: rgb(46, 75, 3);
    cursor: pointer;
}