body{
    background-color: #eee;
    margin: 0px;
    overflow: hidden;
}
body>h2 {
    margin-top: 0px;
    color: var(--bs-heading-color);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
    min-height: 200px;
    background-image: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body>p {
    text-align: center;
    line-height: 470px;
    background-image: url("images/dustbin5.png");
    height:250px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}
body form {
    margin: auto;
    width: fit-content;
}
body form input {
    background-color:  green;
    color: #fff;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    width: 160px;
    padding: 10px 10px 10px 10px;
}
body form input:hover {
    background-color: rgb(46, 75, 3);
    cursor: pointer;
}