/* lecturer Dasboard */
body {
    margin: 0px;
    background-color: #eee;
}
body h2.heading1{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    min-height: 200px;
    line-height: 200px;
    font-size: 35px;
    background-image: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body>a {
    display: block;
    margin-top: 0px;
    background-color: green;
    min-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}
body h3.heading2{
    margin: auto;
    text-align: center;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
}
body h3.heading3{
    border: 1px solid rgb(214, 211, 211);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 0px;
    margin: auto;
    max-width: 1030px;
    text-align: center;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 25px;
}
body ul {
    border: 1px solid rgb(214, 211, 211);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
    padding: 15px;
    max-width: 1000px;
    margin: auto;
    margin-top: 0px;
}
body ul li {
    list-style: decimal;
    list-style-position: inside;
    min-height: 40px;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
    border-top: 1px solid rgb(214, 211, 211);
    border-bottom: 1px solid rgb(214, 211, 211);
    margin-top: 0px;
    margin-bottom: 0px;
}
body ul li:hover {
    background-color: #eee;
}
body ul li strong {
    line-height: 35px;
}
body ul li a{
    float: right;
    color:#fff;
    background-color: green;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
}
body ul li a:link, body ul li a:visited{
    text-decoration: none;
}
body ul li a:hover {
    background-color: rgb(46, 75, 3);
}