body {
    margin: 0px;
    background-color: #eee;
}
body>h2 {
    background-color: green;
    margin-top: 0px;
    min-height: 50px;
    padding-top: 10px;
    padding-left: 30px;
    color: #fff;
    font-size: 30px;
    background-image: url("images/UHASlogo1.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 40px;
}
body>ul {
    margin: auto;
    margin-top: 60px;
    padding: 0px;
    max-width: 900px;
}
body>ul li {
    list-style: inside none;
    border: none ;
    border-radius: 8px;
    background-color: #fff;
    min-height: 80px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0px 20px 20px 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
    backdrop-filter: brightness(40%);
}
body>ul li:hover {
    background-color: rgb(0, 172, 0);
    cursor: pointer;
}
body>p {
    font-size: x-large;
    margin-top: 100px;
    text-align: center;
    background-image: url("images/bell5.png");
    height:300px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}