body {
    margin: 0px;
    background-color: #eee;
    background-image: url("images/UHASlogo1.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 80%;
    background-attachment: fixed;
    background-size: 380px;
    overflow-x: hidden;
}
body h1 {
    background-color: green;
    margin-top: 0px;
    min-height: 50px;
    padding-top: 10px;
    padding-left: 30px;
    color: #fff;
    font-size: 30px;
    width: 100%;
    color: black;
    text-transform: uppercase;
}
body p {
    margin: auto;
    text-align: justify;
    background-color: #fff;
    padding: 30px;
    opacity: 0.8;
    width: 60%;
}
body div.container {
    background-color:#3b3b3b;
    margin-bottom: 0px;
    border: none;
    padding: 0px 60px 0px 60px;
}
body div.container h2 {
    color: rgb(3, 3, 82);
}
body div.container ul {
    background-color: #585858;
    padding: 15px;
    max-width: 700px;
    margin: auto;
    margin-top: 0px;
}
body div.container p {
    background-color: #585858;
    padding: 25px 25px 25px 25px;
    max-width: 700px;
    margin: auto;
    margin-top: 0px;
    border-bottom: 1px solid rgb(56, 56, 56);
    height: 20px;
    text-align: center;
    font-weight: bold;
}
body div.container ul li {
    list-style: none;
    list-style-position: inside;
    min-height: 20px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid rgb(56, 56, 56);
    margin-top: 0px;
    margin-bottom: 0px;
}
body div.container form textarea {
    min-height: 140px;
}
body div.container form .rinput {
    background-color: green;
    height: 40px;
    margin-bottom: 20px;
}
body div.container form .rinput:hover {
    cursor: pointer;
}
body div.container form .rinput:active {
    border: none;
}