<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student_dashboard.css') }}">
</head>
<body>
    <h2 class="heading1">Welcome to the Student Dashboard</h2>
    <a href="{{ url_for('display_notifications') }}">View Notifications</a>
    <h3 class="heading2">Submit Final Project</h3>
    <!-- Form to submit final project -->
    <h3 class="heading3">Search for Project Works</h3>
    <!-- Search form -->
</body>
</html>
